@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600&display=swap');
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container{
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: block;
 
  .body-container{
    padding: 2rem;
  }
  .home_container{
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgb(51, 51, 51) 4px 4px 2px 0px;
    border: 1px solid #000;
    .text_container{
      width: 50%;
    }
    .vector_container{
      img{
        width: 400px;
        mix-blend-mode: multiply;
      }
    }
  }
  .about_container{
    margin-top: 150px;

    .text_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    p{
      padding: 0.6rem 0 0.6rem 0;
      line-height: 1.3;
    }
    .about-stack{
      display: flex;
      flex-direction: row;
     li{
      margin: 1rem 0;
      list-style-type: none;
      margin-right: 1rem;
      margin-bottom: 1rem;
      border: 1px solid black;
      padding: 0.4rem;
      border-radius: 10px;
     }
    }
  }
    .image_container{

    }
  }
}